.Container{
  box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;

}
.nav{

    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #085c5c;
   margin-top: 0px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   
}
ul{
    display: flex;
    list-style: none;
    
   
}



ul li{
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: white;
}
.button-action a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    
}

.main{

    display: flex;
    
width: 100%;

}
.box1{

    padding: 30px;
    border-radius: 20px;
    width: 55%;

    height: 500px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #085c5c;
  
}
.box1 h1{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #085c5c;

    border: 2px solid white;
    
    font-size: 50px;

}
h3{
    font-family: Arial, Helvetica, sans-serif;
}


.box1 .li{
    display: flex;

    flex-direction: row;
    color: #085c5c;
  
}

.ul .l h2{

    color:#085c5c ;

}


.box2{
    width: 55%;
    display: flex;

}
.box2 ul{
    flex-wrap: wrap;
    flex-direction: row;

}

.box2 .box22{

    width: 240px;
    padding: 20px;


    margin: 10px;
    border-radius: 20px;
}
.box22:hover{
    width: 250px;
        box-shadow: 4px 4px 5px wheat,-4px -4px 5px wheat ;

}
.box22 h1{
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box22 h2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text1{
    width: 50%;
    font-size: 20px;
}
.img{
    width: 50%;
}




.media{

width: 100%;

background-image: linear-gradient(white,#085c5c);

margin: auto auto auto auto;
border-radius: 20px;
height: 350px;


}
hr{
    box-shadow: 1px 1px 3px #085c5c;
}


.media h1{
text-align: center;
    color: #085c5c;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.media  h2{
    font-family: 'Times New Roman', Times, serif;
}

.links h2{
    color: #085c5c;
    font-weight: bold;
   
}

.links{

    display: flex;
    text-align: center;
    width: 600px;
    margin: auto auto auto auto;
}


.Placement{

    width: 100%;
    
}
.Placement h1{
    text-align: center;
} 
.Placement p{
    text-align: center;
    
    
}
.box3{
    display: flex;
    width: 100%;
    margin: auto auto auto;

}

.box33{
    width: 65%;
  
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

.img3{
    width: 30%;
    
    margin: 20px;
}

.ul33{
    display: flex;
    flex-direction: column;

}
.ul33 li{
    flex-direction: column;
}
